<h1>Menu</h1>

<h3><%= flash[:notice] %></h3>


<% @nachos.map do |nacho| %>
  <ul>
    <li>
      <%= link_to nacho.name, nacho %>
      $<%= nacho.price %>
      <%=
        button_to "Add To Cart"
        # TODO: make this button work lol
      %>
    </li>
  </ul>
<% end %>
