<h1>Add New Book To Library</h1>

<form action="/books" method="post">
  <input type="text" placeholder="title" name="book[title]" />
  <input type="text" placeholder="author" name="book[author]" />
  <input type="text" placeholder="snippet" name="book[snippet]" />

  <input type="submit" value="Add new book" />
</form>
